.button{
    background: linear-gradient(45deg, rgb(156,14,156),midnightblue);
    border-radius: 5px;
    padding: 6px;
    text-decoration: none;
    text-align: center;
    border-style: none;
    color: white;
    cursor: pointer;
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
