.post-card{
    margin-right: 30px;
    display: inline-block !important;
    margin-top: 30px;
    
}
.posts{
    padding-top: 30px;
    margin-top: 10px;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .posts {
        justify-content: center;
        align-items: center;
    }
  }